
.navbar_left {
    position: relative;
    background-color: #0C5DB6;
    color: white;
    padding: 10px 20px;
    display: flex;
    gap: 15px;
 
}
.corner_left{
    position: absolute;
    bottom: 0;
    color: black;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: transparent; 
    clip-path: polygon(0 0, 100% 100%, 0 100%);
}

.navbar_right{
    position: relative;
    background-color: #00AEEF;
    color: white;
    padding: 10px 20px;
    display: flex;
    gap: 15px;
}
.corner_right{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px; /* Adjust based on angle */
    height: 30px;
    background-color: transparent; /* Same as body background */
    clip-path: polygon(0 0, 100% 100%, 150% 0%);
}



