
@media  (max-width: 1400px){
    .nav_topInfo{
        display: none;
    }
}
@media (min-width: 768px) {
  .nav_left {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 3% 100%, 0% 75%);
  }
  .nav_right {
    clip-path: polygon(0% 0%, 90% 0%, 100% 25%, 100% 100%, 0% 100%);
  }
}
@media (min-width: 1440px) {


}

